.container {
    padding: 20px 35px; 
    width: 75%;
    height: 100vh;
}

p {
    margin-top: 15px;
}

span{
    color:var(--primary-color);
}

h2 {
    font-size: 22px;
    margin-top: 20px;
}

a {
    color: black;
}

.infosContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid #157AFE;
    padding: 15px;
    margin-top: 20px;
}

.infosContainer div{
    display: flex;
    width: 22%;
    align-items:center;
    gap:11px;
}

.infosContainer div h3{
    font-size: 13px;
    margin-top: 0;
}

li {
    list-style: inside;
    font-size: 18px;
    margin-bottom: 10px;
}

ul{
    margin-top: 10px;
    margin-left: 25px;
}