.container {
    padding: 20px 35px;
    width: 75%;
}

.container .subtitle {
    color: var(--primary-color);
    font-size: 25px;
}

.container h1 {
    font-size: 35px;
}

.questionContainer {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom:10px;
    margin-top: 20px;
}

.questionContainer h3{
    width:90%;
    margin:0;
}

.answer {
    margin-left: 25px;
    margin-bottom: 10px;
}

.answer label{
    margin-left: 10px;
    font-size: 18px;
}

input[type="radio"]:checked + label {
    font-weight: 600;
}

form {
    margin-left: 2%;
}

.point {
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-size: 15px;
    font-weight: 500;
    background-color: #157afe2c;
    width:58px;
}

.buttons .submit {
    border: none;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

.correct-answer {
    color: var(--primary-color);
}

.wrong-answer, .score {
    color: red;
}